html {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    font-size: 10px;
}

@font-face {
    font-family: "Open Sans";
    font-weight: 400;
    font-style: normal;
    src: url(/fonts/OpenSans-Regular.ttf);
}

@font-face {
    font-family: "Open Sans Bold";
    font-weight: 400;
    font-style: normal;
    src: url(/fonts/OpenSans-Bold.ttf);
}

body {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-family: "Open Sans", "Arial", sans-serif;
    margin: 0;
}

header {
    text-align: center;
    width: 100%;
}

#menu__toggle {
    opacity: 0;
}

.menu__btn {
    display: flex;
    align-items: center;
    position: absolute;
    top: 20px;
    left: 20px;
    width: 23px;
    height: 23px;
    cursor: pointer;
    z-index: 2;
    margin-left: 92.8%;
    margin-top: 22px;
}

    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #ffffff;
    }

        .menu__btn > span::before {
            content: '';
            top: -8px;
        }

        .menu__btn > span::after {
            content: '';
            top: 8px;
        }

.menu__box {
    display: block;
    position: absolute;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    text-align: center;
    background-color: #ECEFF1;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
    z-index: 2;
}

.menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
}

    .menu__item:hover {
        background-color: #CFD8DC;
    }

header .container {
    width: 71%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    position: relative;
    margin-top: 0;
}

.image:before {
    content: '';
    display: block;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

.menu {
    z-index: 1;
    margin-top: 8px;
    box-sizing: border-box;
}

.menu__item {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.menu__items {
    color: #ffffff;
    font-weight: 400;
}

    .menu__items:hover {
        text-decoration: underline;
    }

.menu__link {
    text-decoration: none;
    padding-right: 35px;
    font-size: 1.3rem;
    color: #ffffff;
    text-transform: uppercase;
}

h1 {
    width: 40%;
    position: relative;
    font-size: 4.5rem;
    color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5.2%;
    text-transform: uppercase;
    line-height: 75px;
    fint-weight: 700;
}

.header-logo {
    width: 180px;
    z-index: 1;
    margin-top: 8px;
    margin-left: 11px;
    margin-right: 44%;
}




.hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.popup {
    max-width: 330px;
    max-height: 588px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    visibility: hidden;
    position: absolute;
}

.popup__title {
    margin-left: auto;
    margin-right: auto;
    text-transform: uppercase;
    font-size: 2rem;
    line-height: 1.46;
}

    .popup__title:after {
        content: '';
        display: block;
        height: 2px;
        background: #e1d9bd;
        width: 64px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 6px;
    }

.label__item {
    font-size: 1.3rem;
    /*margin-bottom: 12px;*/
}

.form__popup {
    margin-left: 31px;
    margin-right: 31px;
}

label {
    text-align: left;
    display: block;
}

.select {
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    height: 49px;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding-left: 25px;
    padding-right: 10px;
    margin-top: 10px;
    margin-bottom: 25px;
    border: 1px solid #cbd1d4;
    background-color: #f4f7f6;
    font-size: 1.4rem;
    color: #9b9c9c;
    background-image: url(../svg/form-arrows.svg);
    background-repeat: no-repeat;
    background-position: right 14px center;
    background-size: 10px;
    vertical-align: middle;
}

    .select:focus {
        border-bottom: 2px solid #b9a464;
    }

.radio__buttons {
    display: flex;
    margin-bottom: 30px;
}

.radio__answer__text {
    margin-right: 16px;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2.86;
}

    .radio__answer__text::before {
        content: "";
        display: inline-block;
        width: 18px;
        height: 18px;
        background-image: url(../svg/form-empty-circle.svg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 18px;
        vertical-align: middle;
        margin-right: 5px;
    }

.input__radio__answer {
    display: none;
}

    .input__radio__answer:checked + .radio__answer__text::before {
        background-image: url(../svg/form-circle.svg);
    }

.field {
    width: 100%;
    min-height: 130px;
    background-color: #f4f7f6;
    border: none;
    box-sizing: border-box;
    margin-top: 12px;
    margin-bottom: 12px;
    padding-top: 20px;
    padding-left: 20px;
    font-size: 1.3rem;
    color: #9b9c9c;
}

    .field:focus {
        border: 2px solid #b9a464;
    }


.popup__button {
    width: 100%;
    background-color: #b59f5b;
    height: 48px;
    color: #ffffff;
    font-size: 1.4rem;
    line-height: 2.86;
    border: none;
    margin-top: 27px;
    margin-bottom: 53px;
    text-transform: uppercase;
    font-weight: 700;
}

    .popup__button:hover {
        background-color: #323232;
    }

.now__trend {
    max-width: 100%;
    padding: 0;
    margin-top: 60px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 0;
    flex-grow: 0;
    margin-bottom: 15px;
}

.card__trend__box__title {
    font-size: 2rem;
    line-height: 1.2;
    text-transform: uppercase;
    color: #ffffff;
}

.cards__trend {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    box-sizing: border-box;
    margin-left: 0;
    min-height: 340px;
    flex-shrink: 0;
}

.card__trend {
    width: 24.7%;
}

.card__trend__box__first {
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(../images/trend1.jpg);
    background-color: #000000;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin-right: 5px;
    position: relative;
    display: flex;
    margin-left: 0;
    align-items: flex-end;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 21px;
    flex-grow: 0;
    width: 24.7%;
}

.card__trend__box__second {
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(../images/trend2.jpg);
    background-color: #000000;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin-right: 5px;
    position: relative;
    display: flex;
    align-items: flex-end;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 21px;
    flex-grow: 0;
    width: 24.7%;
}

.card__trend__box__third {
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(../images/trend3.jpg);
    background-color: #000000;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin-right: 5px;
    position: relative;
    display: flex;
    align-items: flex-end;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 21px;
    flex-grow: 0;
    width: 24.7%;
}

.card__trend__box__fourth {
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(../images/trend4.jpg);
    background-color: #000000;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin-right: 5px;
    position: relative;
    display: flex;
    align-items: flex-end;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 21px;
    flex-grow: 0;
    width: 24.7%;
}

.now__trend__tags__list {
    list-style: none;
    margin-left: 0px;
    margin-top: 15px;
    margin-bottom: 0;
    padding-left: 0px;
    display: flex;
    width: 100%;
}

.now__trend__tags__item {
    margin-right: 20px;
    color: #b59f5b;
    text-transform: uppercase;
    font-size: 1.4rem;
    line-height: 2.66;
}

.now__trend__title {
    margin-bottom: 35px;
}

    .now__trend__title:after {
        content: '';
        display: block;
        height: 2px;
        background: #e1d9bd;
        width: 64px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 8px;
    }





.articles {
    padding: 0;
}

.article {
    display: flex;
    
}

    .article:nth-child(n+3) {
        margin-bottom: 64px;
    }

.post__image__icon {
    width: 410px;
    height: 315px;
}

.post__container {
    margin-left: 31px;
}

.post__tags {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding-left: 0;
}

.post__tag {
    margin-right: 20px;
    font-size: 1.4rem;
    font-weight: 700;
    color: #b59f5b;
    text-transform: uppercase;
}

h2 {
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 7.5px;
    margin-bottom: 22px;
    line-height: 24px;
    font-weight: 700;
    letter-spacing: 1px;
}

    h2:hover {
        font-weight: 700;
    }

.post__date {
    margin-right: 15px;
    font-size: 1.2rem;
    color: #888888;
}

.author {
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 3.33;
}

.text-article {
    margin-top: 40px;
    font-size: 15px;
    line-height: 22px;
    font-weight: 400;
    letter-spacing: 1px;
}



.section__last__post {
    width: 100%;
    padding: 0;
    margin-bottom: 70px;
}

.new__posts__title {
    font-size: 1.4rem;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    line-height: 2.04;
    margin-bottom: 32px;
}

    .new__posts__title:after {
        content: '';
        display: block;
        height: 2px;
        background: #e1d9bd;
        width: 64px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 6px;
    }

.last__posts {
    width: 100%;
    padding: 0;
}

.last__post {
    display: flex;
    margin-bottom: 25px;
}

.last__post__img {
    width: 70px;
    height: 72px;
}

.last__post__contain {
    margin-left: 18px;
    margin-top: 0;
}

.last__post__date {
    margin-top: 0;
    font-size: 1.2rem;
    font-weight: 400;
    color: #888888;
}

.last__post__title {
    font-size: 1.4rem;
    line-height: 1.29;
    text-transform: uppercase;
    margin-bottom: 0;
    margin-top: 0;
    font-weight: 700;
    letter-spacing: 0.5px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.search__form {
    display: flex;
    margin-bottom: 25px;
}

.search__box {
    width: 200px;
    box-sizing: border-box;
    vertical-align: middle;
    white-space: nowrap;
}

input {
    width: 200px;
    height: 46px;
    padding-left: 19px;
    background: #f4f7f6;
    color: #080404;
    border: none;
    float: left;
    font-size: 1.3rem;
    margin-bottom: 35px;
    line-height: 3.08;
    font-weight: 400;
}

    input:focus {
        border: 1px solid #b59f5b;
    }

.search__button {
    position: absolute;
    width: 46px;
    height: 46px;
    border: none;
    background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/search.svg");
    background-color: #b59f5b;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 40%;
    padding: 15px;
    cursor: pointer;
}

    .search__button:hover {
        background-color: #323232;
    }

.button__icon {
    width: 19px;
    margin-left: auto;
    margin-right: auto;
}

.mailing__title {
    font-size: 1.4rem;
    text-transform: uppercase;
    text-align: center;
    line-height: 2.08;
    font-weight: 700;
}

    .mailing__title:after {
        content: '';
        display: block;
        height: 3px;
        background: #e1d9bd;
        width: 66px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 12px;
    }

.sendler {
    width: 270px;
    margin-bottom: 60px;
}


.field__mailing {
    box-sizing: border-box;
    margin-bottom: 19px;
    margin-top: 10px;
    width: 100%;
    border: none;
    top: 50%;
    font-size: 1.3rem;
    line-height: 3.08;
    font-weight: 400;
}

    .field__mailing:focus {
        border: 1px solid #ebe7d7;
    }

.button__mailing {
    width: 100%;
    height: 48px;
    background-color: #b59f5b;
    border: none;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 1.4rem;
    line-height: 2.86;
    font-weight: 700;
}

    .button__mailing:hover {
        background-color: #323232;
    }

.mailing__header {
    font-size: 1.4rem;
    margin-bottom: 20px;
    text-transform: uppercase;
    text-align: center;
}

.tags__title {
    font-size: 1.4rem;
    text-transform: uppercase;
    text-align: center;
    line-height: 2.08;
    font-weight: 700;
}

    .tags__title:after {
        content: '';
        display: block;
        height: 2px;
        background: #e1d9bd;
        width: 65px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 6px;
    }

.tags__list {
    width: 287px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    flex-grow: 1;
}

.tags {
    margin-bottom: 20px;
}

.tag {
    box-sizing: border-box;
    margin-right: 5px;
    margin-top: 6px;
    text-transform: uppercase;
    border: 3px solid #eeeeee;
    text-align: center;
    align-items: center;
    padding-bottom: 20px;
    padding-right: 15px;
    padding-left: 15px;
    text-align: center;
    font-size: 1.2rem;
    line-height: 3.33;
    font-weight: 400;
    max-height: 30px;
}

a {
    text-decoration: none;
    color: #0f0d0e;
}

.tag:hover {
    font-weight: 700;
}

.themes {
    margin-top: 65px;
}

.theme__title {
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    line-height: 2.08;
    font-weight: 700;
}

    .theme__title:after {
        content: '';
        display: block;
        height: 2px;
        background: #e1d9bd;
        width: 65px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 6px;
    }

.theme__list {
    margin-top: 10;
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.theme {
    border-bottom: 1px solid #ebe7d7;
    margin-bottom: 3px;
    font-size: 1.4rem;
    color: #000000;
    font-weight: 700;
    line-height: 3.36;
}

sup {
    color: #b59f5b;
    margin-left: 5px;
}

.goods .container {
    box-sizing: border-box;
    margin-left: 270px;
    margin-top: 26px;
    width: 71%;
    display: flex;
}

.goods {
    width: 100%;
    box-sizing: border-box;
}

.goods__title {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    margin-bottom: 20px;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.46;
    text-transform: uppercase;
    margin-top: 0;
}

    .goods__title:after {
        content: '';
        display: block;
        height: 2px;
        background: #e1d9bd;
        width: 64px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 12px;
    }

.goods__list {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: border-box;
    vertical-align: middle;
}


.goods__image__first {
    background-image: url(../images/shop-item-desk1.jpg);
    background-color: #000000;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-height: 220px;
    margin-left: 23px;
    margin-right: 23px;
}

.goods__image__second {
    background-image: url(../images/shop-item-desk2.jpg);
    background-color: #000000;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-height: 220px;
    margin-left: 23px;
    margin-right: 23px;
}

.goods__image__third {
    background-image: url(../images/shop-item-desk3.jpg);
    background-color: #000000;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-height: 220px;
    margin-left: 23px;
    margin-right: 23px;
}

.good__item__content p {
    font-size: 15px;
    margin-top: 10px;
    letter-spacing: 1px;
}

.goods__item__title {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.2;
    text-transform: uppercase;
    margin-bottom: 0;
    letter-spacing: 1px;
}

.goods__item__link {
    color: #b59f5b;
}

.specific__cards__list {
    list-style: none;
    padding-left: 0;
}


.specific__cards {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    align-items: center;
}

.old__price {
    margin-bottom: 0;
    text-decoration: line-through;
    font-size: 1.4rem;
    font-weight: 700;
}

.new__price {
    font-size: 2rem;
    font-weight: 700;
}

.link__shop {
    width: 140px;
    height: 47px;
    font-size: 1.4rem;
    line-height: 2.86;
    text-transform: uppercase;
    background-color: #b59f5b;
    border: none;
    color: #ede8db;
}

footer .container {
    flex-direction: column;
    width: 71%;
    box-sizing: border-box;
    margin-top: 75px;
}

.social__icons {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding-left: 0;
    margin-right: 0;
}

.socials {
    display: flex;
    background-color: #f4f7f6;
    max-width: 100%;
    align-items: center;
    justify-content: center;
    padding-left: 33%;
    padding-right: 33%;
    padding-top: 30px;
    padding-bottom: 30px;
}

.social {
    width: 21px;
    margin-right: 27px;
    margin-top: auto;
    margin-bottom: auto;
}

.end__text {
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    font-size: 1.2rem;
    line-height: 3.33;
    color: #999999;
    margin-bottom: 42px;
    font-weight: 400;
}




@media(min-width: 1201px) {
    .container {
        width: 71%;
        display: flex;
        margin-left: auto;
        margin-right: auto;
        box-sizing: border-box;
        margin-top: 46px;
    }

    .image {
        margin-top: 0;
        background-image: url(../images/banner-bg.jpg);
        background-color: #000000;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        min-height: 477px;
        width: 100%;
        position: relative;
        z-index: -1;
    }

    .hamburger-menu {
        display: none;
    }

    .menu__button {
        display: none;
    }

    card__trend__box__title {
        font-size: 20px;
        line-height: 29.15;
    }

    .trend__content__box {
        display: flex;
        flex-direction: column;
        max-width: 24,7%;
        text-align: left;
        border: 3px solid #8d8051;
        border-opacity: 0.6;
        padding-left: 36px;
        padding-right: 30px;
        padding-top: 5px;
        padding-bottom: 15px;
        margin-left: 5px;
    }

    .main__articles {
        max-width: 68%;
        margin-right: 100px;
        margin-left: 0;
        box-sizing: border-box;
        margin-top: 8px;
        margin-left: 4px;
    }

    aside {
        width: 287px;
        margin: 0;
        box-sizing: border-box;
    }

    .goods {
        margin-bottom: 18px;
    }

    .goods__item {
        max-width: 29%;
        min-height: 436px;
        margin-left: 0;
        margin-right: 66px;
    }

        .goods__item:nth-child(3) {
            margin-right: 0;
        }

    .goods__image__first {
        min-width: 297px;
    }

    .goods__image__second {
        min-width: 297px;
    }

    .goods__image__third {
        min-width: 297px;
    }

    .good__item__content {
        padding-left: 23px;
        padding-right: 23px;
        padding-top: 25px;
        margin-top: -31px;
        padding-bottom: 28px;
        border: 3px solid #bfb68d;
        border-opacity: 0.6;
        box-sizing: border-box;
        min-width: 346px;
    }
    .article {
        margin-bottom: 62px;
    }
}
@media (min-width: 641px) and (max-width: 1200px) {
    html {
        width: calc(100% - 1px);
    }

    body {
        margin-top: 0;
    }

    header {
        margin-top: 0;
    }

        header .container {
            width: 92.3%;
            display: flex;
            margin-left: auto;
            margin-right: auto;
            box-sizing: border-box;
            margin-top: 43px;
        }

    .container {
        width: 91.5%;
        display: flex;
        margin-left: 35px;
        margin-right: 35px;
        box-sizing: border-box;
        margin-top: 46px;
        flex-wrap: nowrap;
    }

    .image {
        margin-top: 0;
        background-image: url(../images/banner-bg-tablet.jpg);
        background-color: #000000;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        min-height: 391px;
        width: 100%;
        position: relative;
        z-index: -1;
    }

    h1 {
        width: 86.5%;
        position: relative;
        font-size: 40px;
        color: #ffffff;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10%;
        text-transform: uppercase;
        line-height: 55px;
        fint-weight: 700;
    }

    .header-logo {
        width: 180px;
        z-index: 1;
        margin-top: 8px;
        margin-left: 11px;
        margin-right: 44%;
    }


    /* .hamburger-menu {
        display: none;
    }*/
    .menu {
        display: none;
    }

    .now__trend {
        max-width: 100%;
        padding: 0;
        margin-top: 50px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-left: 0;
        flex-grow: 0;
        margin-bottom: 15px;
    }

    .now__trend__tags__list {
        list-style: none;
        margin-top: 15px;
        margin-bottom: 0;
        padding-left: 0px;
        display: flex;
        width: 100%;
        margin-left: 32px;
    }

    .now__trend__tags__item {
        margin-right: 20px;
        color: #b59f5b;
        text-transform: uppercase;
        font-size: 1.4rem;
        line-height: 2.66;
    }

    .now__trend__title {
        margin-bottom: 35px;
    }

        .now__trend__title:after {
            content: '';
            display: block;
            height: 2px;
            background: #e1d9bd;
            width: 64px;
            margin-left: auto;
            margin-right: auto;
            margin-top: 15px;
        }

    card__trend__box__title {
        font-size: 20px;
        line-height: 29.15px;
    }

    .trend__content__box {
        display: flex;
        flex-direction: column;
        text-align: left;
        border: 3px solid #8d8051;
        border-opacity: 0.6;
        /*padding-left: 32px;
        padding-right: 62px;
        padding-top: 38px;
        padding-bottom: 30px;*/
        margin-left: 5px;
    }

    .card__trend__box__title {
        font-size: 17px;
        line-height: 22px;
        text-transform: uppercase;
        color: #ffffff;
        margin-bottom: 30px;
        margin-left: 32px;
    }

    .cards__trend {
        display: flex;
        flex-direction: row;
        justify-content: center;
        box-sizing: border-box;
        margin-left: 0;
        min-height: 340px;
        flex-shrink: 0;
    }

    /*.card__trend {
        min-height: 245px;
    }*/

    .card__trend__box__first {
        background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(../images/trend1.jpg);
        background-color: #000000;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        position: relative;
        display: flex;
        margin-left: 0;
        align-items: flex-end;
        padding-bottom: 15px;
        padding-left: 20px;
        padding-right: 21px;
    }

    .card__trend__box__second {
        background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(../images/trend2.jpg);
        background-color: #000000;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        position: relative;
        display: flex;
        align-items: flex-end;
        padding-bottom: 15px;
        padding-left: 20px;
        padding-right: 21px;
    }

    .card__trend__box__third {
        background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(../images/trend3.jpg);
        background-color: #000000;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        position: relative;
        display: flex;
        align-items: flex-end;
        padding-bottom: 15px;
        padding-left: 20px;
        padding-right: 21px;
    }

    .card__trend__box__fourth {
        background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(../images/trend4.jpg);
        background-color: #000000;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        position: relative;
        display: flex;
        align-items: flex-end;
        padding-bottom: 15px;
        padding-left: 20px;
        padding-right: 21px;
    }

    .main__articles {
        max-width: 56.4%;
        margin-right: 33px;
        margin-left: 0;
        box-sizing: border-box;
        margin-top: 8px;
        margin-left: 4px;
    }

    .post__image__icon {
        width: 100%;
        max-height: 300px;
    }

    .articles {
        padding: 0;
    }

    .article {
        display: flex;
        flex-direction: column;
        margin-bottom: 22px;
    }

        .article:nth-child(n+3) {
            margin-bottom: 64px;
        }

        .article:after {
            content: '';
            display: block;
            height: 2px;
            background: #eeeeee;
            width: 100%;
            margin-left: auto;
            margin-right: auto;
            margin-top: 15px;
        }


    .post__container {
        margin-top: 17px;
    }

    .post__tags {
        display: flex;
        flex-direction: row;
        list-style: none;
        padding-left: 0;
    }

    .post__tag {
        margin-right: 20px;
        font-size: 14px;
        line-height: 40px;
        font-weight: 700;
        color: #b59f5b;
        text-transform: uppercase;
    }

    h2 {
        font-size: 17px;
        text-transform: uppercase;
        /*margin-top: 7.5px;*/
        margin-bottom: 39px;
        line-height: 22px;
        font-weight: 700;
        letter-spacing: 1px;
    }

        h2:hover {
            font-weight: 700;
        }

    .post__date {
        margin-right: 13px;
        font-size: 12px;
        line-height: 40px;
        color: #888888;
    }

    .author {
        font-size: 12px;
        font-weight: 700;
        line-height: 40px;
    }

    .text-article {
        margin-top: 35px;
        font-size: 15px;
        line-height: 22px;
        font-weight: 400;
        /*letter-spacing: 1px;*/
    }

    aside {
        width: 271px;
        margin: 0;
        box-sizing: border-box;
    }

    .section__last__post {
        width: 100%;
        padding: 0;
        margin-bottom: 60px;
    }

    .new__posts__title {
        font-size: 14px;
        text-transform: uppercase;
        text-align: center;
        font-weight: 700;
        line-height: 29.15px;
        margin-bottom: 30px;
    }

        .new__posts__title:after {
            content: '';
            display: block;
            height: 2px;
            background: #e1d9bd;
            width: 64px;
            margin-left: auto;
            margin-right: auto;
            margin-top: 5px;
        }

    .last__posts {
        width: 100%;
        padding: 0;
        margin-top: 0;
    }

    .last__post {
        display: flex;
        margin-bottom: 25px;
    }

    .last__post__img {
        width: 70px;
        height: 72px;
    }

    .last__post__contain {
        margin-left: 16px;
        margin-top: 0;
    }

    .last__post__date {
        margin-top: 0;
        font-size: 12px;
        font-weight: 400;
        color: #888888;
    }

    .last__post__title {
        font-size: 14px;
        line-height: 18px;
        text-transform: uppercase;
        margin-bottom: 0;
        margin-top: 10px;
        font-weight: 700;
    }

    .visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        padding: 0;
        border: 0;
        clip: rect(0 0 0 0);
        overflow: hidden;
    }

    .search__form {
        display: flex;
        margin-bottom: 60px;
    }

    .search__box {
        width: 200px;
        box-sizing: border-box;
        vertical-align: middle;
        white-space: nowrap;
    }

    input {
        width: 200px;
        height: 46px;
        padding-left: 19px;
        background: #f4f7f6;
        color: #080404;
        border: none;
        float: left;
        font-size: 13px;
        margin-bottom: 35px;
        line-height: 40px;
        font-weight: 400;
    }

        input:focus {
            border: 1px solid #b59f5b;
        }

    .search__button {
        position: absolute;
        width: 46px;
        height: 46px;
        border: none;
        background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/search.svg");
        background-color: #b59f5b;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 40%;
        padding: 15px;
        cursor: pointer;
    }

        .search__button:hover {
            background-color: #323232;
        }

    .button__icon {
        width: 19px;
        margin-left: auto;
        margin-right: auto;
    }

    .mailing__title {
        font-size: 14px;
        text-transform: uppercase;
        text-align: center;
        line-height: 29.15px;
        font-weight: 700;
    }

        .mailing__title:after {
            content: '';
            display: block;
            height: 3px;
            background: #e1d9bd;
            width: 66px;
            margin-left: auto;
            margin-right: auto;
            margin-top: 6px;
        }

    .sendler {
        width: 100%;
        margin-bottom: 60px;
    }


    .field__mailing {
        box-sizing: border-box;
        margin-bottom: 19px;
        margin-top: 10px;
        width: 100%;
        border: none;
        top: 50%;
        font-size: 1.3rem;
        line-height: 3.08;
        font-weight: 400;
    }

        .field__mailing:focus {
            border-bottom: 1px solid #ebe7d7;
        }

    .button__mailing {
        width: 100%;
        height: 48px;
        background-color: #b59f5b;
        border: none;
        color: #ffffff;
        text-transform: uppercase;
        font-size: 14px;
        line-height: 40px;
        font-weight: 700;
        border-top: 1px solid #e6dfc8;
    }

        .button__mailing:hover {
            border-top: 1px solid #b59f5b;
        }

    .mailing__header {
        font-size: 14px;
        margin-bottom: 20px;
        text-transform: uppercase;
        text-align: center;
    }

    .tags__title {
        font-size: 14px;
        text-transform: uppercase;
        text-align: center;
        line-height: 29.15px;
        font-weight: 700;
    }

        .tags__title:after {
            content: '';
            display: block;
            height: 2px;
            background: #e1d9bd;
            width: 65px;
            margin-left: auto;
            margin-right: auto;
            margin-top: 6px;
        }

    .tags__list {
        width: 100%;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        flex-grow: 1;
    }

    .tags {
        margin-bottom: 60px;
    }

    .tag {
        display: flex;
        align-items: center;
        height: 28px;
        box-sizing: border-box;
        margin-right: 5px;
        margin-top: 6px;
        text-transform: uppercase;
        border: 3px solid #eeeeee;
        text-align: center;
        align-items: center;
        text-align: center;
        font-size: 12px;
        line-height: 40px;
        font-weight: 700;
        max-height: 30px;
    }

    .tag__name {
        text-decoration: none;
        color: #0f0d0e;
        margin-left: 15px;
        margin-right: 15px;
    }

    .tag:hover {
        font-weight: 900;
    }

    .themes {
        margin-top: 65px;
    }

    .theme__title {
        font-size: 14px;
        text-transform: uppercase;
        text-align: center;
        line-height: 2.08;
        font-weight: 700;
    }

        .theme__title:after {
            content: '';
            display: block;
            height: 2px;
            background: #e1d9bd;
            width: 65px;
            margin-left: auto;
            margin-right: auto;
            margin-top: 6px;
        }

    .theme__list {
        margin-top: 10;
        list-style: none;
        padding: 0;
        display: flex;
        flex-direction: column;
    }

    a {
        color: #000000;
    }

    .theme {
        border-bottom: 1px solid #ebe7d7;
        margin-bottom: 3px;
        font-size: 14px;
        color: #000000;
        font-weight: 700;
        line-height: 47px;
    }

    a:hover {
        text-decoration: none;
    }

    sup {
        color: #b59f5b;
        margin-left: 5px;
    }

    .goods .container {
        box-sizing: border-box;
        margin-left: auto;
        margin-right: auto;
        margin-top: 26px;
        width: 92.3%;
        display: flex;
        flex-wrap: wrap;
    }

    .goods {
        width: 100%;
        box-sizing: border-box;
        margin-bottom: 18px;
    }

    .goods__title {
        margin-right: auto;
        margin-left: auto;
        text-align: center;
        margin-bottom: 20px;
        font-size: 2rem;
        font-weight: 700;
        line-height: 1.46;
        text-transform: uppercase;
        margin-top: 0;
    }

        .goods__title:after {
            content: '';
            display: block;
            height: 2px;
            background: #e1d9bd;
            width: 64px;
            margin-left: auto;
            margin-right: auto;
            margin-top: 12px;
        }

    .goods__list {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        box-sizing: border-box;
        vertical-align: middle;
        align-items: stretch
    }


    .goods__image__first {
        background-image: url(../images/shop-item-desk1.jpg);
        background-color: #000000;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        min-height: 220px;
        margin-left: 23px;
        margin-right: 23px;
        min-width: 86.7%;
    }

    .goods__image__second {
        background-image: url(../images/shop-item-desk2.jpg);
        background-color: #000000;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        min-height: 220px;
        margin-left: 23px;
        margin-right: 23px;
        min-width: 86.7%;
    }

    .goods__image__third {
        background-image: url(../images/shop-item-desk3.jpg);
        background-color: #000000;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        min-height: 220px;
        margin-left: 23px;
        margin-right: 23px;
        min-width: 86.7%;
    }

    .good__item__content {
        border: 2px #d3c59d solid;
        border-opacity: 0.6;
        padding-left: 23px;
        padding-right: 23px;
        padding-top: 25px;
        margin-top: -25px;
        padding-bottom: 28px;
        min-height: 265px;
    }


        .good__item__content p {
            font-size: 15px;
            line-height: 22px;
            letter-spacing: 1px;
        }

    .goods__item__title {
        font-size: 20px;
        font-weight: 700;
        line-height: 24px;
        text-transform: uppercase;
        margin-bottom: 0;
        letter-spacing: 1px;
    }

    .goods__item__link {
        color: #b59f5b;
    }

    .specific__cards__list {
        list-style: none;
        padding-left: 0;
    }


    .specific__cards {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        align-items: center;
    }

    .old__price {
        margin-bottom: 0;
        text-decoration: line-through;
        font-size: 14px;
        line-height: 24px;
        font-weight: 700;
    }

    .new__price {
        font-size: 20px;
        ;
        font-weight: 700;
        line-height: 24px;
    }

    .link__shop {
        width: 140px;
        height: 47px;
        font-size: 14px;
        line-height: 40px;
        text-transform: uppercase;
        background-color: #b59f5b;
        border: none;
        color: #ffffff;
    }

    .goods__item {
        width: 48%;
        min-height: 500px;
        margin-left: 0;
        margin-right: 22px;
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }

        .goods__item:nth-child(2) {
            margin-right: 0;
        }

        .goods__item:nth-child(3) {
            margin-top: 28px;
        }

    footer .container {
        flex-direction: column;
        width: 92.3%;
        box-sizing: border-box;
        margin-top: 75px;
    }

    .social__icons {
        display: flex;
        flex-direction: row;
        list-style: none;
        padding-left: 0;
        margin-right: 0;
    }

    .socials {
        display: flex;
        background-color: #f4f7f6;
        max-width: 100%;
        align-items: center;
        justify-content: center;
        padding-left: 33%;
        padding-right: 33%;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .social {
        width: 21px;
        margin-right: 27px;
        margin-top: auto;
        margin-bottom: auto;
    }

    .end__text {
        margin-left: auto;
        margin-right: auto;
        margin-top: 60px;
        font-size: 1.2rem;
        line-height: 3.33;
        color: #999999;
        margin-bottom: 42px;
        font-weight: 400;
    }
}


@media (min-width: 641px) and (max-width: 1200px) and (orientation: portrait) {
    .cards__trend {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .card__trend {
        min-height: 318px;
        width: 49.5%;
        box-sizing: border-box;
    }

    .card__trend__box__first {
        margin-right: 5px;
        width: 49.5%;
        box-sizing: border-box;
    }

    .card__trend__box__second {
        width: 49.5%;
        margin-right: 0;
        box-sizing: border-box;
    }

    .card__trend__box__third {
        width: 49.5%;
        margin-right: 5px;
        margin-top: 5px;
        box-sizing: border-box;
    }

    .card__trend__box__fourth {
        width: 49.5%;
        margin-top: 5px;
        box-sizing: border-box;
        margin-right: 0;
    }

    .goods .container {
        box-sizing: border-box;
        margin-left: auto;
        margin-right: auto;
        margin-top: 26px;
        display: flex;
    }

    .goods__list {
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }

    .goods__item {
        margin-right: 25px;
    }
}

.good__item__content {
    max-width: 100%;
}

}

@media (min-width: 641px) and (max-width: 1200px) and (orientation: landscape) {
    .cards__trend {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .card__trend {
        width: 24%;
        box-sizing: border-box;
        min-height: 318px;
    }

    .card__trend__box__first {
        margin-right: 5px;
        width: 24%;
        box-sizing: border-box;
    }

    .card__trend__box__second {
        width: 24%;
        margin-right: 5px;
        box-sizing: border-box;
    }

    .card__trend__box__third {
        width: 24%;
        margin-right: 5px;
        margin-top: 5px;
        box-sizing: border-box;
    }

    .card__trend__box__fourth {
        width: 24%;
        margin-top: 5px;
        box-sizing: border-box;
        margin-right: 5px;
    }

    .goods .container {
        box-sizing: border-box;
        margin-left: auto;
        margin-right: auto;
        margin-top: 26px;
        display: flex;
    }

    .goods__list {
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }

    .goods__item {
        margin-right: 25px;
    }
}

.good__item__content {
    max-width: 100%;
}

}



@media(max-width: 640px) {
    html {
        width: calc(100% - 1px);
        margin-right: 0;
    }

    .image {
        margin-top: 0;
        background-image: url(../images/banner-mobile.jpg);
        background-color: #000000;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        min-height: 680px;
        width: 100%;
        position: relative;
        z-index: -1;
    }

    header .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: calc(91.6% - 1px);
        margin-left: 15px;
        margin-right: 15px;
    }

    .goods .container {
        box-sizing: border-box;
        margin-left: 35px;
        margin-top: 26px;
        width: calc(91.6% - 1px);
        display: flex;
    }

    .menu__button {
        margin-left: 306px;
        padding: 0;
        height: 3px;
    }

    .menu__btn {
        margin-left: 88%;
    }

    .header-logo {
        width: 280px;
        margin-right: 0;
        margin-top: 240px;
        vertical-align: middle;
      
    }

    h1 {
        font-size: 2.6rem;
        line-height: 1.38;
        width: 91.6%;
        margin-top: 0;
    }
    .now__trend{
        margin-top: 35px;
    }
    .now__trend__title {
        font-size: 18px;
        margin-bottom: 30px;
        letter-spacing: -0.5px;
    }

    .cards__trend {
        width: calc(100% - 1px);
    }

    .card__trend {
        width: 100%;
        min-height: 80px;
    }

    .card__trend__box__first {
        width: 100%;
        min-height: 50px;
        padding-left: 15px;
    }

    .card__trend__box__second {
        width: 100%;
    }

    .card__trend__box__third {
        width: 100%;
    }

    .card__trend__box__fourth {
        width: 100%;
    }
    .now__trend__tags__list{
        margin-top: 25px;
    }
    h2 .card__trend__box__title{
        margin-top: 0;
    }
    .now__trend__tags__item {
        font-size: 1.4rem;
        line-height: 2.66;
    }

    .card__trend__box__title {
        font-size: 1.6rem;
        line-height: 1.25;
    }

    .menu__item {
        display: none;
    }

    .container {
        width: calc(83% - 1px);
    }

    .main__articles {
        width: 100%;
    }

    .post__image__icon {
        width: 100%;
        min-width: 328px;
        height: 270px;
    }

    .post__container {
        width: 100%;
        min-width: 328px;

    }

    h2 {
        min-width: 301px;
        font-size: 1.6rem;
        line-height: 1.25;
        margin-bottom: 12px;
    }
    .articles{
        margin-top: 45px;
    }
    .article{
        margin-bottom: 40px;
    }
        .article:nth-child(n+3) {
            margin-bottom: 40px;
        }
        .text-article {
            width: 99%;
            font-size: 1.4rem;
            line-height: 1.43;
            margin-top: 0;
        }
        .text-article p {
            margin-top: 0;
            letter-spacing: 0;
        }
        .post__tag {
            /* margin-top: 17px;*/
            font-size: 1.4rem;
            line-height: 2.86;
            letter-spacing: 1px;
        }

    aside {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .new__posts__title {
        font-size: 1.6rem;
        line-height: 1.82;
    }

    .last__post__title {
        font-size: 1.4rem;
        line-height: 1.29;
    }

    .section__last__post {
        width: 100%;
        margin-bottom: 65px;
    }

    .mailing__title {
        font-size: 16px;
        line-height: 29.15px;
    }
    .last__post__img {
        width: 72px;
        height: 74px;
    }
    .search__form {
        width: 100%;
        margin-bottom: 0;
    }

    .search__box {
        width: 100%;
    }

    input {
        width: 80.7%;
        margin-bottom: 22px;
    }
    input .field__mailing{
        height: 48px;
    }
    .sendler {
        width: 100%;
        margin-bottom: 40px;
    }

    .sendler__form {
        width: 100%;
    }

    .field__mailing {
        width: 100%;
        min-width: 329px;
        margin-top: 5px;
        margin-bottom: 25px;
    }

    .button__mailing {
        width: 100%;
        min-width: 329px;
    }
    .tags__title{
        margin-top: 0;
        margin-bottom: 25px;
    }
    .tags__list {
        width: 100%;
    }

    .tag {
        height: 26px;
        font-size: 1.2rem;
        line-height: 3.33;
        font-weight: 700;
        box-sizing: border-box;
        margin-right: 5px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .themes{
        margin-top: 40px;
    }
    .theme__list{
        margin-top: 0;
    }
    .theme{
        margin-bottom: 0;
    }
    .goods {
        margin-bottom: 40px;
    }

        .goods .container {
            box-sizing: border-box;
            margin-left: 15px;
            margin-top: 28px;
            width: calc(90.8%-1px);
            display: flex;
        }

    .goods__list {
        display: block;
    }

    .goods__item {
        margin-bottom: 27px;
        width: 100%;
    }

        .goods__item:nth-child(n+2) {
            margin-top: 25px;
        }

    .goods__image__first {
        width: 86.3%;
        height: 305px;
    }

    .goods__image__second {
        width: 86.3%;
        height: 305px;
    }

    .goods__image__third {
        width: 86.3%;
        height: 305px;
    }

    .good__item__content {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 23px;
        margin-top: -31px;
        padding-bottom: 20px;
        border: 3px solid #bfb68d;
        border-opacity: 0.6;
        box-sizing: border-box;
        width: 100%;
       
    }
    
    .goods__item__title p{
        margin-top: 5px;
    }
    footer .container {
        width: calc(91.4% - 1px);
        margin-left: 15px;
        margin-right: 15px;
        box-sizing: border-box;
    }

    .socials {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
    .card__trend {
       
        min-height: 260px;
    }
}

@media (max-width: 640px) and (orientation: landscape) {
    .container {
        flex-wrap: wrap;
    }

    main__articles {
        width: 100%;
    }

    aside {
        width: 100%;
    }

    header .container {
        width: 91.6%;
    }

    .container {
        flex-wrap: wrap;
        width: 91.6%;
    }

    main__articles {
        width: 100%;
    }

    aside {
        width: 100%;
    }

    .card__trend {
        width: 100%;
    }

    .cards__trend {
        width: 49%;
        flex-direction: column;
    }

    .card__trend__box__first {
        width: 49%;
        box-sizing: border-box;
        margin-bottom: 3px;
    }

    .card__trend__box__second {
        width: 49%;
        box-sizing: border-box;
        margin-bottom: 3px;
    }

    .card__trend__box__third {
        width: 49%;
        box-sizing: border-box;
        margin-bottom: 3px;
    }

    .card__trend__box__fourth {
        width: 49%;
        box-sizing: border-box;
    }

    .post__image__icon {
        height: 260px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 15px;
    }

    .post__container {
        width: 100%;
        margin-left: 0;
    }

    .menu__item {
        display: none;
    }

    header {
        width: 100%;
    }

    .image {
        width: 100%;
    }

    .articles .article {
        flex-direction: column;
        margin-bottom: 32px;
    }
        
    .goods .container {
        box-sizing: border-box;
        width: 91.6%;
    }

    .goods__list {
        flex-direction: column;
    }

    ..goods__item {
        min-width: 330px;
        box-sizing: border-box;
    }

    .goods__image__first {
        width: 86.3%;
    }

    .goods__image__second {
        width: 86.3%;
    }

    .goods__image__third {
        width: 86.3%;
    }

    .good__item__content {
        min-width: 330px;
    }
}

@media (max-width: 640px) and (orientation: portrait) {
    .container {
        flex-wrap: wrap;
    }

    main__articles {
        width: 100%;
    }

    aside {
        width: 100%;
    }

    header .container {
        width: 91.6%;
    }

    .container {
        flex-wrap: wrap;
        width: 91.6%;
        margin-left: auto;
        margin-right: auto;
    }

    main__articles {
        width: 100%;
    }

    aside {
        width: 100%;
    }

    .card__trend {
        width: 100%;
        min-height: 250px;
    }

    .cards__trend {
        width: 100%;
        flex-direction: column;
        box-sizing: border-box;
    }
    .trend__content__box {
        box-sizing: border-box;
        border: 3px solid #8d8051;
        border-opacity: 0.6;
        text-align: left;
        padding-left: 23px;
        
    }
    .now__trend__tags__item{
        font-size: 14px;
        line-height: 37.2px;
    }
    .card__trend__box__title {
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0;
        max-width: 83.4%;
    }
    .card__trend__box__first {
        width: 100%;
        box-sizing: border-box;
        margin-bottom: 3px;
    }

    .card__trend__box__second {
        width: 100%;
        box-sizing: border-box;
        margin-bottom: 3px;
    }

    .card__trend__box__third {
        width: 100%;
        box-sizing: border-box;
        margin-bottom: 3px;
    }

    .card__trend__box__fourth {
        width: 100%;
        box-sizing: border-box;
    }
    h2 {
        letter-spacing: 0;
    }
    .text-article p {
        letter-spacing: 1;
    }
    .articles .article:after {
        content: '';
        display: block;
        height: 2px;
        background: #eeeeee;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 12px;
    }
    .theme__title{
        font-size: 16px;
        line-height: 29.15px;
    }
    .tags__title {
        font-size: 16px;
        line-height: 29.15px;
    }
    .tag {
        display: flex;
        align-items: center;
        /*height: 23px;*/
        box-sizing: border-box;
        margin-right: 5px;
        margin-top: 6px;
        text-transform: uppercase;
        border: 3px solid #eeeeee;
        text-align: center;
        align-items: center;
        text-align: center;
        font-size: 12px;
        line-height: 40px;
        font-weight: 700;
        max-height: 23px;
    }
    .tag__name {
        text-decoration: none;
        color: #0f0d0e;
       
        
    }
    .tag:hover::after {
        font-weight: 900;
    }
    .post__image__icon {
        
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        /*margin-bottom: 15px;*/
    }
    h2{
        margin-top: 0;
    }
    .post__container {
        width: 100%;
        margin-left: 0;
    }

    .menu__item {
        display: none;
    }

    header {
        width: 100%;
    }

    .image {
        width: 100%;
    }

    .article {
        flex-direction: column;
    }
    .goods{
        margin-top: 40px;
    }
    .goods .container {
        box-sizing: border-box;
        width: 91.6%;
    }

    .goods__list {
        flex-direction: column;
    }

    ..goods__item {
        min-width: 330px;
        box-sizing: border-box;
    }
    .goods__item__title{
        letter-spacing: 0;
    }
    .good__item__content p {
        letter-spacing: 0;
    }
    .goods__image__first {
        min-width: 88.2%;
        
    }
    .goods__image__second {
        min-width: 88.2%;
        
    }
    .good__item__content:nth-child(2){
        padding-bottom: 30px;
    }
    .goods__image__third {
        min-width: 88.2%;
    }
    
    footer .container {
        display: flex;
        margin-top: 0;
        width: 91.6%;
    }
    .end__text {
        margin-left: auto;
        margin-right: auto;
        margin-top: 51px;
        font-size: 12px;
        line-height: 40px;
        color: #999999;
        margin-bottom: 45px;
        font-weight: 400;
    }
}
